.DS_Store

*.xcuserstate
*.xcuserdatad

*.pbxproj

*.xcscmblueprint

*.pbxproj

iBox/iBox.xcodeproj/project.pbxproj

iBox/iBox.xcodeproj/project.xcworkspace/xcuserdata/enthri.xcuserdatad/UserInterfaceState.xcuserstate
